html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #001821;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 95%;
}

.main-page-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/bg/hero.png") center top no-repeat, url("../img/bg/bottom-pic.jpg") center bottom 10% no-repeat;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
}

.btn {
  display: inline-block;
  border-radius: 26px;
  text-transform: uppercase;
  padding: 1.125rem 2.4375rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.btn:hover {
  box-shadow: 0px 0px 10px 0 #ffffff;
}

.btn--color--red {
  background-color: #f5170e;
  color: #ffffff;
}

.btn--white {
  background-color: #ffffff;
  color: #f5170e;
  border: 1px solid rgba(245, 23, 14, 0.4);
}

.logo {
  display: block;
  width: 6.125rem;
  height: 2.625rem;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 3.4375rem;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active {
  color: #f5170e;
}

.menu__link {
  transition: ease .2s;
  font-size: 0.875rem;
  font-weight: 400;
}

.menu__link:hover {
  color: #f5170e;
  transition: ease .2s;
}

.news-card {
  min-height: 24.4375rem;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: ease .2s;
}

.news-card__image {
  display: block;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
}

.news-card__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem 1.875rem;
  min-height: 10.4375rem;
}

.news-card__date {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.news-card__title {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.news-card__description {
  font-size: 1rem;
  font-weight: 400;
}

.paginator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.875rem;
}

.paginator__display {
  margin-right: 0;
  margin-bottom: 0.9375rem;
  font-size: 1rem;
  font-weight: 400;
}

.paginator__list {
  display: flex;
}

.paginator__item {
  margin-right: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.paginator__item:last-child {
  margin-right: 0;
}

.paginator__item--active {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.paginator__item--active.color--theme--white {
  background-color: #ffffff;
  color: #f5170e;
}

.paginator__item--active.color--theme--black {
  background-color: #f5170e;
  color: #ffffff;
}

.paginator__link {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 700;
}

.phone {
  font-style: normal;
}

.phone__number {
  font-size: 1.625rem;
  font-weight: 400;
}

.tour-card {
  color: #000000;
  background-color: #ffffff;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 4px 4px 12px 0px rgba(225, 225, 225, 0.3);
}

.tour-card__header {
  height: 8.75rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 70px 0 rgba(0, 0, 0, 0.5);
}

.tour-card__header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.tour-card__img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.tour-card__content {
  padding: 1.3125rem 2.5rem 2.0625rem 1.3125rem;
  display: flex;
  flex-direction: column;
}

.tour-card__title {
  margin-bottom: 1.4375rem;
  font-size: 1.4375rem;
  font-weight: 700;
}

.tour-card__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5625rem;
}

.tour-card__item {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.625rem;
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
}

.tour-card__item:before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  width: 1.625rem;
  height: 1.625rem;
  left: 5px;
  bottom: 50%;
  transform: translateY(50%);
}

.tour-card__item--feed {
  padding-left: 2.875rem;
  margin-right: 1.25rem;
}

.tour-card__item--duration:before {
  background-image: url("../img/icons/tours/calendar.png");
}

.tour-card__item--feed:before {
  background-image: url("../img/icons/tours/meal.png");
  width: 2.375rem;
}

.tour-card__description {
  margin-bottom: 1.5625rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.tour-card__btn {
  align-self: center;
  padding: 1rem 1.75rem;
  transition: ease .5s;
}

.tour-card__btn:hover {
  background-color: #f5170e;
  color: #ffffff;
  transition: ease .5s;
}

.socials__list {
  display: flex;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 2.25rem;
  height: 2.25rem;
}

.socials__link--telegram {
  background: url("../img/icons/socials/socials.png") -122px -10px;
}

.socials__link--telegram:hover {
  background: url("../img/icons/socials/socials.png") -122px -66px;
}

.socials__link--vk {
  background: url("../img/icons/socials/socials.png") -10px -122px;
}

.socials__link--vk:hover {
  background: url("../img/icons/socials/socials.png") -66px -122px;
}

.socials__link--facebook {
  background: url("../img/icons/socials/socials.png") -10px -10px;
}

.socials__link--facebook:hover {
  background: url("../img/icons/socials/socials.png") -66px -10px;
}

.socials__link--instagram {
  background: url("../img/icons/socials/socials.png") -10px -66px;
}

.socials__link--instagram:hover {
  background: url("../img/icons/socials/socials.png") -66px -66px;
}

.time {
  display: none;
  text-align: center;
  text-decoration: underline;
  position: relative;
  z-index: 1;
  font-size: 0.8125rem;
  font-weight: 400;
}

.time__block {
  opacity: 0;
  position: absolute;
  padding: 1rem 0.75rem 0.875rem 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  top: 1.875rem;
  left: -9999px;
}

.page-title {
  font-size: 4.5rem;
  font-weight: 700;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0.9375rem 0;
}

.header__menu {
  margin-bottom: 0.9375rem;
}

.header__logo {
  margin-bottom: 0.9375rem;
}

.hero {
  min-height: 20px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0.9375rem;
  height: 100%;
}

.hero__title {
  width: 19rem;
  margin-bottom: 1.75rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.hero__info {
  margin-bottom: 2.1875rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.news {
  margin-bottom: 0.9375rem;
}

.news__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.125rem;
}

.news__item {
  margin-bottom: 1.875rem;
}

.news__title {
  text-align: center;
  margin-bottom: 3.125rem;
}

.tours {
  margin-bottom: 1.875rem;
}

.tours__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tours__item {
  margin-bottom: 1.875rem;
}

.tours__title {
  position: relative;
  margin: 0 auto 3.125rem;
}

.tours__title::after {
  content: url("../img/icons/flame.png");
  padding-left: 10px;
  width: 1.3125rem;
  height: 1.75rem;
}

.about {
  position: relative;
  margin-bottom: 2.8125rem;
}

.about:before {
  content: '';
  display: none;
  position: absolute;
  right: 54.5%;
  bottom: 13%;
  width: 30.5rem;
  height: 31.375rem;
  background-image: url("../img/decor/gates.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 7px;
}

.about__container {
  display: flex;
  justify-content: center;
}

.about__description {
  min-height: 28.375rem;
  background-image: url("../img/decor/mountains.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 7px;
  padding: 3.125rem 1.875rem 1.875rem 1.875rem;
}

.about__title {
  color: #000000;
  margin-bottom: 0.3125rem;
}

.about__text {
  margin-bottom: 1.875rem;
}

.about__text p {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.about__text p::last-child {
  margin-bottom: 0;
}

.footer__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #666666;
  padding: 0.9375rem 0;
}

.footer__logo {
  margin-bottom: 0.9375rem;
}

.footer__menu {
  margin-bottom: 0.9375rem;
}

.footer__socials {
  margin-bottom: 0.9375rem;
}

.footer__text {
  text-align: center;
  font-size: 0.6875rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .news-card {
    width: 34.6875rem;
  }

  .paginator {
    flex-direction: row;
  }

  .paginator__display {
    margin-right: 1.4375rem;
    margin-bottom: 0;
  }

  .tour-card {
    width: 22.5rem;
  }

  .time {
    text-align: right;
    display: block;
  }

  .header {
    padding: 26.64px 0 20px;
  }

  .header__container {
    flex-direction: row;
    padding: 0;
  }

  .header__menu {
    margin-right: auto;
  }

  .header__logo {
    margin-right: 4.125rem;
  }

  .hero {
    min-height: 20px;
  }

  .hero__container {
    justify-content: center;
    padding-top: 0;
  }

  .hero__title {
    width: 32.5rem;
    font-size: 4.5rem;
  }

  .news {
    margin-bottom: 6.25rem;
  }

  .news__list {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
  }

  .news__item {
    margin-right: 15px;
    margin-left: 15px;
  }

  .tours {
    margin-bottom: 2.5rem;
  }

  .tours__list {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
  }

  .tours__item {
    margin-right: 15px;
    margin-left: 15px;
  }

  .about__description {
    padding: 4.375rem 5rem 3.125rem 5.9375rem;
    width: 48.75rem;
  }

  .about__title {
    margin-bottom: 1.75rem;
  }

  .about__text {
    margin-bottom: 3.4375rem;
  }

  .footer__text {
    text-align: right;
  }
}

@media (min-width: 1366px) {
  .news-card::after {
    display: block;
  }

  .tour-card__btn {
    align-self: flex-start;
  }

  .hero {
    margin-bottom: 8rem;
    padding: 115px 0 119px;
  }

  .news {
    margin-bottom: 15rem;
  }

  .news__title {
    text-align: left;
  }

  .tours {
    margin-bottom: 6.875rem;
  }

  .tours__title {
    margin: 0;
    margin-bottom: 3.125rem;
  }

  .about:before {
    display: block;
  }

  .about__description {
    background-position: center top;
    margin-left: auto;
  }

  .footer {
    min-height: 9.5rem;
    padding-bottom: 20px;
  }

  .footer__container {
    flex-direction: row;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__menu {
    margin-right: 13.4375rem;
    margin-bottom: 0;
  }

  .footer__socials {
    margin-bottom: 0;
  }
}
