.about {
  position: relative;
  margin-bottom: 2.8125rem;
}

.about:before {
  content: '';
  display: none;
  position: absolute;
  right: 54.5%;
  bottom: 13%;
  width: 30.5rem;
  height: 31.375rem;
  background-image: url("../../img/decor/gates.jpg");
  background-position: center center;
  background-size: cover;
  border-radius: 7px;
}

.about__container {
  display: flex;
  justify-content: center;
}

.about__description {
  min-height: 28.375rem;
  background-image: url("../../img/decor/mountains.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 7px;
  padding: 3.125rem 1.875rem 1.875rem 1.875rem;
}

.about__title {
  color: #000000;
  margin-bottom: 0.3125rem;
}

.about__text {
  margin-bottom: 1.875rem;
}

.about__text p {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.about__text p::last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .about__description {
    padding: 4.375rem 5rem 3.125rem 5.9375rem;
    width: 48.75rem;
  }

  .about__title {
    margin-bottom: 1.75rem;
  }

  .about__text {
    margin-bottom: 3.4375rem;
  }
}

@media (min-width: 1366px) {
  .about:before {
    display: block;
  }

  .about__description {
    background-position: center top;
    margin-left: auto;
  }
}