.inner-section {
  position: relative;
  background-color: #ffffff;
  color: #000000;
}

.inner-section--padding {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.inner-section--bg--grey {
  background-color: #f4f5f5;
}

.inner-section__title {
  position: relative;
  z-index: 2;
  margin-bottom: 1.875rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .inner-section--padding {
    padding-top: 5.625rem;
    padding-bottom: 7.1875rem;
  }

  .inner-section__title--width {
    font-size: 3rem;
  }
}

@media (min-width: 1366px) {
  .inner-section__title {
    margin-bottom: 3.9375rem;
    text-align: left;
  }
}